<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"/>
  <package id="anaconda3"/>
  <package id="calibre"/>
  <package id="ccleaner"/>
  <package id="chocolatey"/>
  <package id="chocolateygui"/>
  <package id="ConEmu"/>
  <package id="curl"/>
  <package id="Cygwin"/>
  <package id="Firefox"/>
  <package id="git.install"/>
  <package id="GoogleChrome"/>
  <package id="greenshot"/>
  <package id="keepass.install"/>
  <package id="neovim"/>
  <package id="notepadplusplus.install"/>
  <package id="procmon"/>
  <package id="putty"/>
  <package id="sysinternals"/>
  <package id="teamviewer"/>
  <package id="vlc"/>
  <package id="Wget"/>
  <package id="windirstat"/>
  <package id="winscp.install"/>
</packages>
