<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="vim" />
      <package id="putty.portable" />
      <package id="cygwin" />
      <package id="chocolatey" />
      <package id="ChocolateyGUI" />
      <package id="flashplayerplugin" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="skype" />
      <package id="conemu" />
      <package id="thunderbird" />
      <package id="evernote" />
      <package id="spotify" />
      <package id="speccy" />
      <package id="f.lux" />
      <package id="lastpass" />
      <package id="zabbix-agent" />
      <package id="windirstat" />
      <package id="x2go" />
      <package id="greenshot" />
      <package id="audacity" />
    </packages>
