<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="chocolatey" />
      <package id="ChocolateyGUI" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="autohotkey.portable" />
      <package id="filezilla" />
      <package id="vim" />
      <package id="putty.portable" />
      <package id="virtualbox" />
      <package id="procexp" />
      <package id="conemu" />
      <package id="speccy" />
      <package id="lastpass" />
      <package id="zabbix-agent" />
      <package id="windirstat" />
      <package id="x2go" />
      <package id="sharex" />
    </packages>
