<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="git.install" />
      <package id="filezilla" />
      <package id="virtualbox" />
      <package id="cygwin" />
      <package id="miktex" />
      <package id="r.studio" />
      <package id="chocolatey" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="autohotkey.portable" />
      <package id="sysinternals" />
      <package id="skype" />
      <package id="procexp" />
      <package id="conemu" />
      <package id="teamviewer" />
      <package id="thunderbird" />
      <package id="evernote" />
      <package id="spotify" />
      <package id="speccy" />
      <package id="f.lux" />
      <package id="lastpass" />
      <package id="xming" />
      <package id="windirstat" />
      <package id="x2go" />
      <package id="greenshot" />
      <package id="strawberryperl" />
      <package id="veracrypt " />
      <package id="mendeley" />
      <package id="myeventviewer" />
      <package id="crashplan" />
    </packages>
