<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="vim" />
      <package id="putty.portable" />
      <package id="cygwin" />
      <package id="chocolatey" />
      <package id="flashplayerplugin" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="skype" />
      <package id="fitbit.connect" />
      <package id="conemu" />
      <package id="spotify" />
      <package id="speccy" />
      <package id="windirstat" />
      <package id="sharex" />
      <package id="filezilla" />
    </packages>
