<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="git.install" />
      <package id="ruby" />
      <package id="filezilla" />
      <package id="vim" />
      <package id="putty.portable" />
      <package id="python" />
      <package id="virtualbox" />
      <package id="cygwin" />
      <package id="rubygems" />
      <package id="vagrant" />
      <package id="puppet" />
      <package id="sumatrapdf" />
      <package id="r.project" />
      <package id="miktex" />
      <package id="r.studio" />
      <package id="chocolatey" />
      <package id="ChocolateyGUI" />
      <package id="flashplayerplugin" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="atom" />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="powershell -pre" />
      <package id="autohotkey.portable" />
      <package id="sysinternals" />
      <package id="skype" />
      <package id="procexp" />
      <package id="conemu" />
      <package id="teamviewer" />
      <package id="thunderbird" />
      <package id="evernote" />
      <package id="spotify" />
      <package id="speccy" />
      <package id="f.lux" />
      <package id="qbittorrent" />
      <package id="lastpass" />
      <package id="xming" />
      <package id="windirstat" />
      <package id="x2go" />
      <package id="sharex" />
  <!--    <package id="veracrypt " /> -->
  <!--    <package id="mendeley" /> -->
  <!--    <package id="myeventviewer" /> -->
      <package id="crashplan" />
    </packages>
