# Important commands:
# sudo systemctl <enable | start | status> resume@jmorris
# sudo journalctl -u -b resume@jmorris

[Unit]
Description=Lock on Wake
Before=suspend.target

[Service]
User=jmorris
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -nc 000000

[Install]
WantedBy=suspend.target
