[Unit]
Description= Mute on Wake
After=suspend.target

[Service]
User=jmorris
Type=forking
Environment=DISPLAY=:0
#ExecStartPre=/usr/local/bin/ssh-connect.sh
ExecStartPre=/usr/bin/amixer sset Master unmute ; /usr/bin/amixer sset Master mute
ExecStart=/usr/bin/i3lock -nc 000000
#ExecStart=/usr/bin/i3lock -nc 000000

[Install]
WantedBy=suspend.target
