[Unit]
Description=Mute on Sleep
Before=sleep.target

[Service]
User=jmorris
Type=simple
ExecStartPre=/usr/bin/sudo -u jmorris env XDG_RUNTIME_DIR=/run/user/1000 /usr/bin/pactl set-sink-volume alsa_output.pci-0000_00_1f.3.analog-stereo  0%
ExecStart=/usr/bin/sudo -u jmorris env XDG_RUNTIME_DIR=/run/user/1000 /usr/bin/pactl set-sink-mute alsa_output.pci-0000_00_1f.3.analog-stereo true

[Install]
WantedBy=sleep.target
